@model EF_Models.Standard

@{
    ViewBag.Title = "Details";
}

    <h2>Standard Details</h2>

<div>
    <h4>Standard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.standard_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.standard_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.standard_id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-success" })
</p>
